
<!DOCTYPE html>
<html lang="en">
<head>
    
    
    <!-- <link rel="stylesheet" type = "text/css" href = "static/css/userprofile.css" media = " all" /> -->
    

</head>
<body>
    
        
        
        <h2>Welcome</h2>
        <form>
            <form style="background-color: blue;">      
            <a href="http://127.0.0.1:8000/quiztemplate">    ATTEND PYTHON QUIZ</a> <br><br><br>

            <a href="http://127.0.0.1:8000/javaquiz">    ATTEND JAVA QUIZ</a> <br><br><br>

            <a href="http://127.0.0.1:8000/aiquiz">    ATTEND AI QUIZ</a> <br><br><br>

            <!-- <button onclick="window.location.href='http://127.0.0.1:8000/home.html';">ATTEND QUIZ</button><br><br><br> -->
         
        
      
          
    

        
        
           

           
              
                <a href="http://127.0.0.1:8000/home">    LOGOUT</a>
                <!-- <button onclick="window.location.href='http://127.0.0.1:8000/quiztemplate.html';">LOGOUT</button><br><br><br> -->
   
                
           </form>
         
              
    
        
        
</body>        